<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Default Message style</title>
</head>
<body>
Previous text:
<div rsf:id="rsf-messages:" style="color: red; font-weight: bold; display:inline" >
<ul style="margin:0px; display:inline">  
  <li rsf:id="message:" style="display:inline">Message for user here</li>
  <div />
  <li rsf:id="message:" style="display:inline">Message for user here</li>
</ul>
</div>
</body>
</html>