<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Default Message style</title>
</head>
<body>
Previous text:
<div rsf:id="rsf-messages:" style="display:inline" >
  <div rsf:id="error-messages:" style="color: red; font-weight: bold; display:inline">
    <ul>
      <li rsf:id="message:">Error message for user here</li>
    </ul>
  </div>

  <div rsf:id="info-messages:" style="color: green; font-weight: bold; display:inline">
    <ul>
      <li rsf:id="message:">Info message for user here</li>
    </ul>
  </div>
  
  <div rsf:id="confirm-messages:" style="color: blue; font-weight: bold; display:inline">
    <ul>
      <li rsf:id="message:">Confirm message for user here</li>
    </ul>
  </div>
</div>
</body>
</html>