<html>
<body>

Defines the root classes and basic implementations of the core RSF
"primitive" components - see the main wiki page on
<a
  href="http://www2.caret.cam.ac.uk/rsfwiki/Wiki.jsp&#63;page=PrimitiveComponents">
Primitive Components</a>
for a diagram and functional overview. UIComponent is the head of the
RSF hierarchy. An RSF component is a lightweight
<i>controller</i>
-level object which has the responsibility of corresponding a UI
component in the target XML dialect with its values and value bindings.
This correspondence is achieved using the component's ID. An RSF
component in general is a POJO encoding entirely state and no behaviour
- these are expected to be readily serializable.
</body>
</html>
