<html>
<body>

Defines the root classes and basic implementations of the core RSF components.
UIComponent is the head of the RSF hierarchy. An RSF component is a lightweight
<i>controller</i>-level object which has the responsibility of corresponding
a UI component in the target XML dialect with its values and value bindings. 
This correspondence is achieved using the component's ID. 

An RSF component in general is a POJO encoding entirely state and no
behaviour - these are expected to be readily serializable.
</body>
</html>
